{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/forgotpassword.css">
{% endblock %}

{% block content %}

<div class="container">

    <h1>Forgot Password?</h1>

    <p class="description">
        Enter your registered email address to receive a password reset link.
    </p>

    {% if info %}
        <p>{{ info }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('forgotpassword') }}">

        <label>Email</label>
        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        >

        <button type="submit">Send Link</button>

    </form>

    <p>
        Remember your password?
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</div>

{% endblock %}